# -------------------------
# Java & Spring Boot
# -------------------------

# 빌드 결과물
/out/
/build/
/target/

# 의존성 캐시
.gradle/
.mvn/
!gradle/wrapper/gradle-wrapper.jar

# IDE 설정 파일
*.iml
.idea/
.vscode/

# 로그 파일
*.log

# 임시 파일
*.tmp
*.bak
*.swp

# 시스템 파일
.DS_Store
Thumbs.db

# 환경 파일 (중요)
.env
*.env
*.yml
application-*.properties

# 테스트 리포트
/test-output/
jacoco.exec

# OS별
ehthumbs.db
desktop.ini

# JetBrains / IntelliJ run configs
*.iws
*.ipr

# 빌드 결과물
*.jar
*.war

# 자바 컴파일
*.class

HELP.md